* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(to top right, black, white);
    font-family: 'Arial', sans-serif;
}


.cabeçalho {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.cabeçalho-imagem {
    height: 60px;
}

.cabeçalho-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
}

.cabeçalho-menu-item {
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.cabeçalho-menu-item:hover {
    color: #007BFF;
}

.menu-idiomas label {
    margin-left: 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.idioma {
    display: none;
}

#idioma-pt:target,
#idioma-fr:target,
#idioma-es:target,
#idioma-en:target {
    display: block;
}

.conteúdo {
    text-align: center;
    padding: 20px;
}

.conteúdo-principal-título {
    font-size: 48px;
    color: white;
}

.conteúdo-principal-subtítulo {
    font-size: 20px;
    color: white;
}

.conteúdo-provável-botão {
    background-color: white;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.conteúdo-provável-botão:hover {
    background-color: green;
    color: white;
}

.rodapé {
    padding: 16px;
    text-align: center;
    border-top: 0.4px solid #000;
    color: white;
}
